// // Media Query styles

@media (max-width: 680px) {
    .movieModal {
        .moviesModalContainer {
            height: 750px;
            .modalContent {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 550px) {
    .title h2 {
        width: 60%;
    }
}

@media (max-width: 440px) {
    .title h2 {
        width: 10%;
    }
}