//Modal
.movieModal{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    .moviesModalContainer{
        position: relative;
        width: 100%;
        height: 550px;
        min-width: 300px;
        min-height: 400px;
        background-color: $backgroundDark;
        border: 1px solid black;
        margin: auto;
        .closeButton {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: $primaryYellow;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $primaryYellow;
            background-color: $primaryRed;
        }
        .modalContent {
            width: 90%;
            height: 90%;
            padding: 20px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .modalVideo {
                display: flex;
            }
            .modalDetails {
                display: flex;
                flex-direction: column;
                width: 90%;
                padding-left: 50px;
                p, h3{
                    color: $primaryYellow;
                }
                .modalGenre {
                    margin: 10px 0;
                }
                .movieDetailList {
                    line-height: 5px;
                }
                .description {
                    font-weight: bold;
                    padding-right: 6px;
                }
                .language {
                    text-transform: uppercase;
                }
                .cast {
                    color: $primaryYellow;
                }
                .castList {
                    line-height: 20px;
                    display: inline;
                    padding-left: 10px;
                }
                .castListOrder {
                    margin-top: -28.5px;
                }
                .buttonsContainer {
                    width: 100%;
                    display: flex;
                    margin-top: 60px;
                    button{
                        @include buttons;
                        background-color: $primaryBlue;
                        color: $backgroundDark;
                    }
                    &:hover,
                    &:focus,
                    &:active{
                        display: inline-block;
                        vertical-align: middle;
                        transform: translateZ(0);
                        box-shadow: 0 0 5px rgba(0, 0, 0, 5);
                        backface-visibility: hidden;
                        -moz-osx-font-smoothing: grayscale;
                        transition-duration: 0.3s;
                        transition-property: transform;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
