//Colours
$primaryRed: #8C0000;
$primaryYellow: #EADBC4;
$primaryBlue: #B3D5DF;
$backgroundDark: #212020;

@mixin headings {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 48px;
}

@mixin bodyFont {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@mixin buttons {
    @include bodyFont;
                height: 40px;
                width: 150px;
                color: $primaryYellow;
                font-weight: 600;
                background-color: $primaryRed   ;
                border: none;
                cursor: pointer;
                   }



//Main
body{
    background-image: url(../../public/images/background.png);
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.movieContainer {    
    flex: 1 1 250px;
    margin: 15px 15px;
    padding: 15px;
    display: flex;  
    background-color: $backgroundDark;
  .moviePoster {
        width: 35%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            object-fit: contain;
        }
    }
    .movieDetails {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 10px;
        .title{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
                font-family: "Josefin Sans", sans-serif;
                font-weight: 600;
                font-size: 28px;
                color: #B3D5DF;
            }
        }
        
        p{
            @include bodyFont;
            color: $primaryYellow;
        }
        .buttonsContainer {
            max-width: 90%;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            button {
                @include buttons;
                &:hover,
                &:focus,
                &:active{
                    display: inline-block;
                    vertical-align: middle;
                    transform: translateZ(0);
                    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
                    backface-visibility: hidden;
                    -moz-osx-font-smoothing: grayscale;
                    transition-duration: 0.3s;
                    transition-property: transform;
                    transform: scale(1.1);
                }
                  }
        }
        .iconAdd {
            color: $primaryYellow;
        }
       
    }
    
}

//Modal
.movieModal{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    .moviesModalContainer{
        position: relative;
        width: 60%;
        height: 750px;
        min-width: 300px;
        min-height: 400px;
        background-color: $backgroundDark;
        border: 1px solid black;
        margin: auto;
        .closeButton {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: $primaryYellow;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $primaryYellow;
            background-color: $primaryRed;
        }
        
        }
        .modalContent {
            width: 90%;
            height: 90%;
            padding: 20px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .modalDetails {
                display: flex;
                flex-direction: column;
                width: 90%;
                p, h3{
                    color: $primaryYellow;
                }
                .buttonsContainer {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    margin: 20px 0;
                    button{
                        @include buttons;
                        background-color: $primaryBlue;
                        color: $backgroundDark;
                &:hover,
                &:focus,
                &:active{
                    display: inline-block;
                    vertical-align: middle;
                    transform: translateZ(0);
                    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
                    backface-visibility: hidden;
                    -moz-osx-font-smoothing: grayscale;
                    transition-duration: 0.3s;
                    transition-property: transform;
                    transform: scale(1.1);
                }
                        
                    }
                }
        }
        
    }
}

