//Colours
$primaryRed: #8C0000;
$primaryYellow: #EADBC4;
$primaryBlue: #B3D5DF;
$backgroundDark: #212020;

@mixin headings {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 72px;
}

@mixin bodyFont {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@mixin buttons {
    @include bodyFont;
    height: 40px;
    width: 150px;
    color: $primaryYellow;
    font-weight: 600;
    background-color: $primaryRed ;
    border: none;
    cursor: pointer;
}

body {
    background-image: url(../../../public/images/background.png);
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}