body {
  background-image: url(../../../public/images/background.png);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movieContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  margin: 15px 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #212020;
}
.movieContainer .moviePoster {
  width: 35%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movieContainer .moviePoster img {
  -o-object-fit: contain;
     object-fit: contain;
}
.movieContainer .movieDetails {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
}
.movieContainer .movieDetails .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.movieContainer .movieDetails .title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #B3D5DF;
}
.movieContainer .movieDetails p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #EADBC4;
}
.movieContainer .movieDetails .buttonsContainer {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
.movieContainer .movieDetails .buttonsContainer button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 40px;
  width: 150px;
  color: #EADBC4;
  font-weight: 600;
  background-color: #8C0000;
  border: none;
  cursor: pointer;
}
.movieContainer .movieDetails .buttonsContainer button:hover, .movieContainer .movieDetails .buttonsContainer button:focus, .movieContainer .movieDetails .buttonsContainer button:active {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
          box-shadow: 0 0 5px rgb(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.movieContainer .movieDetails .iconAdd {
  color: #EADBC4;
}

.movieModal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.movieModal .moviesModalContainer {
  position: relative;
  width: 60%;
  height: 750px;
  min-width: 300px;
  min-height: 400px;
  background-color: #212020;
  border: 1px solid black;
  margin: auto;
}
.movieModal .moviesModalContainer .closeButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #EADBC4;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #EADBC4;
  background-color: #8C0000;
}
.movieModal .modalContent {
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movieModal .modalContent .modalDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}
.movieModal .modalContent .modalDetails p, .movieModal .modalContent .modalDetails h3 {
  color: #EADBC4;
}
.movieModal .modalContent .modalDetails .buttonsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px 0;
}
.movieModal .modalContent .modalDetails .buttonsContainer button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 40px;
  width: 150px;
  color: #EADBC4;
  font-weight: 600;
  background-color: #8C0000;
  border: none;
  cursor: pointer;
  background-color: #B3D5DF;
  color: #212020;
}
.movieModal .modalContent .modalDetails .buttonsContainer button:hover, .movieModal .modalContent .modalDetails .buttonsContainer button:focus, .movieModal .modalContent .modalDetails .buttonsContainer button:active {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
          box-shadow: 0 0 5px rgb(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #EADBC4;
  height: 450px;
  background-image: url(../../../public/images/headerimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

footer {
  background-image: url(./../../../public/images/footerimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}
footer p, footer h5 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #EADBC4;
  text-align: center;
  font-weight: 600;
}

.checkbox {
  background-color: #EADBC4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.checkbox form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkbox form input {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
}
.checkbox form button {
  max-width: 50%;
  margin-top: 20px;
  height: 40px;
}